.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}

/*--------
navbar start
--------*/
.nav-logo{
	text-align:left;
}
.nav-heading h1{
	text-align:right;
}
.nav-menu{
	flex-direction:row;
	justify-content:flex-end;

}
.nav-menu a{
	padding: 5px 10px;
	margin: 20px 0;
	background-color:transparent;
}
/*--------
navbar end
--------*/
/*--------
profile desgine start
--------*/
.top-weather{
	right:0px;
	top:30px;
	position:absolute;
	transition:width 2s, transform 2s;
}
.top-weather:hover{
	width:180px;
	transform: rotate(360deg)
}
.bottom-weather{
	left:0px;
	bottom:10px;
	position:absolute;
	transition:width 2s, transform 2s;
}
.bottom-weather:hover{
	width:180px;
	transform: rotate(360deg)
}
.des p{
	text-align:center;
	width:100%;
}

/*--------
profile desgine end
--------*/


/*--------
about me secton start 
--------*/
.aboutme-image{
	margin-top: 100px;
}
.aboutme-desc p{
	text-align: left;
}
/*--------
about me secton end 
--------*/
/*-------
achievmant-contact secton start 
--------*/
.contact button{
   width: 150px;
}	
.contact-links{
	position: relative;
}
.media-buttons{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	margin-top: 200px;
}
/*-------
achievmant-contact secton end 
--------*/
/*-------
footer start form here 
--------*/
.fotter-menu{
	margin-top: 15px;
}
.fotter-menu a{
	display: inline;
	margin:10px;
}
/*-------
footer ends here
--------*/